<%- include("components/header") -%>
<%- include("components/nav") -%>

<div class="container mt-5">
    <!-- <h1 class="text-body-emphasis text-center my-5">U recorrido sobre C#</h1> -->
    <img src="<%= post.imagen_url %>" alt="imagen_seguridad" class="home_section_img">
    
    <div class="row text-center my-4">
        <div class="col-6 row">
            <img src="imagenes/usuario/user1.jpg" alt="user1" class="col-2">
            <p class="col-2"> <%= post.titulo %> </p>
        </div>
        <div class="col-6 row">
            <p class="col-4"><span>Leido: </span>  <%= post.veces_leido %> </p>
            <p class="col-4"><span>Favoritos: </span> <%= post.me_gusta %> </p>
        </div>
    </div>
    <div class="container mb-5 text-center">
        <h3 class="my-5"> <%= post.titulo %> </h3>
        
        <p class="text-justify"> <%= post.cuerpo %> </p>
    </div>
</div>

<%- include("components/footer") -%>